@Html.DevExpress().PageControl(settings =>
{
    settings.Name = "PageControl";
    settings.CallbackRouteValues = new { Controller = "Home" , Action = "PageControlPartial" };
    settings.TabPages.Add(tabpage =>
    {
        tabpage.Name = "TabPage1";
        tabpage.Text = "Page 1";
        tabpage.SetContent(() =>
        {
            ViewContext.Writer.Write(String.Format("<div id='{0}' >", tabpage.Name));
            Html.RenderAction(tabpage.Name);
            ViewContext.Writer.Write("</div>");
        });
    });
    settings.TabPages.Add(tabpage =>
    {
        tabpage.Name = "TabPage2";
        tabpage.Text = "Page 2";
        tabpage.SetContent(() =>
        {
            ViewContext.Writer.Write(String.Format("<div id='{0}' >", tabpage.Name));
            Html.RenderAction(tabpage.Name);
            ViewContext.Writer.Write("</div>");
        });
    });
    settings.TabPages.Add(tabpage =>
    {
        tabpage.Name = "TabPage3";
        tabpage.Text = "Page 3";
        tabpage.SetContent(() =>
        {
            ViewContext.Writer.Write(String.Format("<div id='{0}'>", tabpage.Name));
            Html.RenderAction(tabpage.Name);
            ViewContext.Writer.Write("</div>");
        });
    });
    settings.ClientSideEvents.ActiveTabChanging = "OnActiveTabChanging";
}).GetHtml()
